#
# This file and its contents are supplied under the terms of the
# Common Development and Distribution License ("CDDL"), version 1.0.
# You may only use this file in accordance with the terms of version
# 1.0 of the CDDL.
#
# A full copy of the text of the CDDL should have accompanied this
# source.  A copy of the CDDL is also available via the Internet at
# http://www.opensource.org/licenses/cddl1.txt
#

#
# Copyright 2012 Jörg Schilling.  All rights reserved.
#

PKG="SUNWman"
NAME="On-Line System Manual Pages"
ARCH="ISA"
VERSION="ONVERS,REV=0.0.0"
SUNW_PRODNAME="SunOS"
SUNW_PRODVERS="RELEASE/VERSION"
SUNW_PKGTYPE="usr"
MAXINST="1000"
CATEGORY="system"
DESC="System Reference Manual Pages"
VENDOR="The Schillix-ON Project"
HOTLINE="Please contact your local service provider"
EMAIL=""
CLASSES="none"
RSTATES=s 1 2 3
BASEDIR=/usr
SUNW_PKGVERS="1.0"
SUNW_PKG_ALLZONES="false"
SUNW_PKG_HOLLOW="false"
SUNW_PKG_THISZONE="false"
PKG_SRC_NOVERIFY= none
PKG_DST_QKVERIFY= none
PKG_CAS_PASSRELATIVE= none
#FASPACD= none
#VSTOCK="<reserved by Release Engineering for package part #>"
#ISTATES="<developer defined>"
#RSTATES='<developer defined>'
#ULIMIT="<developer defined>"
#ORDER="<developer defined>"
#PSTAMP="<developer defined>"
#INTONLY="<developer defined>"
